# VSCode
.vscode/

# VS
.vs/

# Temp
Temp/

# Test .exe files
Build/TestsEXE/

# Ignore object files and binaries
*.o
*.obj
*.exe
*.out

# Ignore .ChronosLog
*.ChronosLog

# Ignore logs
GameFolder/ExampleGame/FrameDebugData
GameFolder/ExampleGame/Logs

# Ignore copyright
Copyright and Other Info/

# Ignore launcher
LauncherDirectory/